<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MindSprinters Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  {% include "components/navbar.html" %}
  <div class="container col-md-8 col-sm-12">
    <div class="d-flex justify-content-between">
        <div>
            <sub>Author</sub><br>
            <a href="{% url 'profile' blog.author.username %}">@{{blog.author.username}}</a>
        </div>
        <div>
            <sub>Published</sub><br>
            <span>{{blog.created_at|timesince}} ago</span>
        </div>
    </div>
    <article class="blog-post">
        {{blog.content|safe}}
    </article>
</div>
  {% include "components/footer.html"%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
